
@font-face {
    font-family: 'fonte-titulo';
    src: url('../../../assets/fonts/Bricolage_Grotesque/static/BricolageGrotesque-Bold.ttf');
}

.titulo{
    color: white;
    font-family: 'fonte-titulo';
    text-align: center;
}
