
@font-face {
    font-family: 'fonte-titulo';
    src: url('../../../assets/fonts/Bricolage_Grotesque/static/BricolageGrotesque-Bold.ttf');
}

.titulo{
    color: white;
    font-family: 'fonte-titulo';
    text-align: center;
    font-size: 45px;
    margin-top: 70px ;
}

img{
    margin: 35px 0px 0px 95px;
}
