<app-header></app-header> 
<app-current-weather
    [city]="city"
    [temperature]="temperature">
</app-current-weather>

<app-loading-state
    [feelsLike]="feelsLike"
    [humidity]="humidity"
    [precipitation]="precipitation"
    [wind]="wind">
</app-loading-state>

<app-daily-forecast
*ngFor="let dia of previsaoSemanal"
[diaSemana]="dia.diaSemana"
[temperaturaMax]="dia.temperaturaMax"
[temperaturaMin]="dia.temperaturaMin"
[weatherCode]="dia.weatherCode"> 
</app-daily-forecast>

<section class="hourly-wrapper">
  <div class="hourly-header">
    <h2>Hourly forecast</h2>
    <select>
      <option>Tuesday</option>
    </select>
  </div>

  <div class="hourly-list">
    <app-hourly-forecast
      *ngFor="let hora of previsaoDiaria"
      [horario]="hora.horario"
      [temperatura]="hora.temperatura"
      [weatherCode]="hora.weatherCode">
    </app-hourly-forecast>
  </div>
</section>
