
:host {
  display: block;
  min-height: 150vh;
  background-color: #01012a; 
  overflow: hidden;
}

.hourly-wrapper {
  background-color: #1c1d3a;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 360px;
  height: 570px;

  display: flex;
  flex-direction: column;
}

.hourly-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.hourly-header h2 {
  color: white;
  font-family: 'SansLigth' ;
  font-weight: 600;
  font-size: 15px;
}

.hourly-header select {
  background-color: #2a2b4f;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 8px;
  font-family: 'SansLigth' ;
}

.hourly-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-right: 6px;
  font-family: 'SansLigth' ;
}

.daily-component{
  display: flex;
  flex-direction: column;
  margin-bottom: 6px;
}

.daily-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-around;
}

.daily-titulo{
  color: white;
  font-family: 'SansLigth' ;
  font-weight: 600;
  font-size: 15px;
  margin: 20px 0px 15px 0px;
  align-items: center;
}

.loading-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
 justify-content: space-around;
}

.loading-component{
   margin-top: 25px;
}

.pt1{
  display: flex;
  flex-direction: column;
}

.content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
