

p{
    color: white;
    font-family: 'SansLigth';
    margin-left: 15px;
}

.dado{
    font-size: 30px;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.section{
    background-color: #242540;
    height: 115px;
    width: 185px;
    border-radius: 10px;
}
