
p{
    color: white;
    font-family: 'SansLigth';
    margin-left: 15px;
}

.dado{
    font-size: 30px;
}

.section{
    background-color: #242540;
    height: 115px;
    width: 174px;
    border-radius: 10px;
    border: 1px solid rgb(137, 109, 109);
}
