@font-face {
    font-family: 'bgbold' ;
    src: url('../assets/fonts/Bricolage_Grotesque/static/BricolageGrotesque-Bold.ttf');
}

@font-face {
    font-family: 'SansLigth';
    src: url('../assets/fonts/DM_Sans/static/DMSans-Light.ttf');
}

@font-face {
    font-family: 'FonteTitulo';
    src: url('../assets/fonts/DM_Sans/DMSans-Italic-VariableFont_opsz\,wght.ttf');
}