*{
    font-family: 'bgbold';
}

.pesquisa-container{
    display: flex;
    gap: 7px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.input-icon{
    background: url('../../../assets/images/icon-search.svg') no-repeat;
    background-size: 16px;
    background-position: 10px center;
    background-color: #2a2b4f;
    padding-left: 30px;
    height: 45px;
    min-width: 365px;
    border-radius: 5px;
    border-color: transparent;
}

.pesquisa-container button{
    cursor: grab;
    height: 45px;
    min-width: 80px;
    background-color: blue;
    color: white;
    border-radius: 8px;
    border-color: transparent;
}


@media(max-width: 477px){
    .pesquisa-container button{
        width: 95%;
}

}

.resultados {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  width: 100%;
  list-style: none;
  padding: 0;
}

.resultados li {
  padding: 8px;
  cursor: pointer;
}

.resultados li:hover {
  background: #eee;
}

