<section class="pesquisa-container">
    <div class="PesquisaR">
        <input type="search" name="pesquisa" placeholder="Search for a place..." class="input-icon" [(ngModel)]="textoDigitado" (input)="buscarCidades()">
        <div class="resultados">
        <ul *ngIf="cidades.length > 0" class="cidade">
        <li *ngFor="let i of cidades"
            (click)="selecionarCidade(i)">
            {{i.name}}, {{i.country}}
        </li>
    </ul>
    </div>
    </div>
    <button (click)="search()">Search</button>
    
</section>
