
* {
    margin: 0px;
    padding: 0px;
    font-family: 'FonteTitulo';
}

.container{
    background-image: url('../../../assets/images/bg-today-large.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
    width: 100%;
    max-width: 700px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 699px) {
    .container{
        background-image: url('../../../assets/images/bg-today-small.svg') ;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 250px;
        width: 375px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .temperatura{
        display: flex;
        text-align: end;
    }
    .cidadeEdata{
        text-align: center;
    }
    
    // .componente{
    //     display: flex;
    //     justify-content: center;
    // }
}

h1, p{
    color: white;
}

.temperatura{
    font-size: 75px;
    margin: 0px 20px;
}

.cidadeEdata{
    margin: 0px 20px;
}

.cidade{
    margin-bottom: 5px;
}

